
.container{
  display: flex;
    margin-top: 5%;
  justify-content: center;
}

#logo{
  height: 200px;
  width: auto;
}

h2 {
  text-align: center;
}

form{
  margin-bottom: 20%;
}
form #login{
  text-align: center;
}

form #create{
  text-align: left;
}
